*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuildgit
/.idea
/wear/build
/models/build
/PB-Bible1
/sphinxbase
/pocketsphinx
/pocketsphinx-android