*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/wear
/aars
/models
/PB-Bible
/PB-Bible1
/sphinxbase
/pocketsphinx
/pocketsphinx-android