<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felixunlimited.pbbible">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".ui.activities.Voice"
            android:label="Speak"
            android:theme="@style/AppBaseTheme.Dialog.Dark" />
        <!--<activity-->
            <!--android:name=".speech.PocketSphinxActivity"-->
            <!--android:label="@string/app_name" />-->
        <activity
            android:name=".ui.activities.BiblesOfflineActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_label"
            android:theme="@style/AppBaseTheme.Dark.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/about_title"
            android:theme="@style/AppBaseTheme.Dialog.Dark" />
        <activity android:name=".ui.activities.BaseActivity" />
        <activity
            android:name=".ui.activities.AboutBibleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/aboutbible_title"
            android:theme="@style/AppBaseTheme.Dialog.Dark" />
        <activity
            android:name=".ui.activities.BookmarksActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/bookmarks_title"
            android:theme="@style/AppBaseTheme.Dark" />
        <activity
            android:name=".ui.activities.CategoriesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/categories_title" />
        <activity
            android:name=".ui.activities.FindActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/find_title" />
        <activity
            android:name=".ui.activities.DownloadBible"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/downloadBible_title" />
        <activity
            android:name=".ui.activities.DownloadBookmark"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/downloadBookmark_title" />
        <activity
            android:name=".ui.activities.DownloadBookname"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/downloadBookname_title" />
        <activity
            android:name=".ui.activities.HelpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/help_title"
            android:theme="@style/AppBaseTheme.Dialog.Dark" />
        <activity
            android:name=".ui.activities.GoTo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/goto_title"
            android:theme="@style/AppBaseTheme.Dialog.Dark"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activities.SelectParallelBible"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/selectParallel_title"
            android:theme="@style/AppBaseTheme.Dialog.Dark" />
        <activity
            android:name=".ui.activities.BrowseBook"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/browseBook_title" />
        <activity
            android:name=".ui.activities.BrowseChapter"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/browseChapter_title" />
        <activity
            android:name=".ui.activities.DocumentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/documents"
            android:theme="@style/AppBaseTheme.Dark" />
        <activity
            android:name=".ui.activities.DownloadDocument"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/downloadDocument" />
        <activity
            android:name=".ui.activities.AboutDocumentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/aboutdocument_title"
            android:theme="@style/AppBaseTheme.Dialog.Dark" />
        <activity
            android:name=".ui.activities.ReadBibleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/readBible"
            android:theme="@style/AppBaseTheme.Dark.NoTitleBar" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/settings" />
        <activity
            android:name=".ui.activities.ConfigureWidgetActivity"
            android:label="@string/configureWidget"
            android:theme="@style/AppBaseTheme.Dialog.Dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyAppWidget">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/showbookmark_appwidget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.NoteListActivity"
            android:label="@string/title_note_list"
            android:parentActivityName=".ui.activities.BiblesOfflineActivity"
            android:theme="@style/AppBaseTheme.AppCompat.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.felixunlimited.pbbible.ui.activities.BiblesOfflineActivity" />
        </activity>
        <activity
            android:name=".ui.activities.NoteDetailActivity"
            android:label="@string/title_note_detail"
            android:parentActivityName=".ui.activities.NoteListActivity"
            android:theme="@style/AppBaseTheme.AppCompat.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.felixunlimited.pbbible.ui.activities.NoteListActivity" />
        </activity>

        <service
            android:name=".services.RandomMonthlyTheme"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.GeneralSpeechRecognizerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activities.GeneralSpeechRecognizerActivity"
            android:label="@string/title_activity_general_speech_recognizer" />
        <activity
            android:name=".ui.activities.BrowseBibleActivity"
            android:theme="@style/AppBaseTheme.AppCompat.Dialog.Dark" />
        <activity
            android:name=".ui.activities.ListenActivity"
            android:label="@string/title_activity_listen"
            android:parentActivityName=".ui.activities.BiblesOfflineActivity"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.felixunlimited.pbbible.ui.activities.BiblesOfflineActivity" />
        </activity>
        <activity
            android:name=".ui.activities.BaeActivity"
            android:label="@string/title_activity_bae"
            android:parentActivityName=".ui.activities.BiblesOfflineActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.felixunlimited.pbbible.ui.activities.BiblesOfflineActivity" />
        </activity>
        <activity
            android:name=".ui.activities.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:parentActivityName=".ui.activities.BiblesOfflineActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.felixunlimited.pbbible.ui.activities.BiblesOfflineActivity" />
        </activity>
        <activity android:name=".ui.activities.PDFViewer"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>